*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 20px;
}

body a {
  margin-left: 20px;
}

.button {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 80px;
  text-decoration: none;
  overflow: hidden;
  background-color: #3a86ff;
}

.mosaic__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.mosaic__text:hover {
  font-size: 4rem;
}

.mosaic__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mosaic__square {
  width: 5%;
  height: 30%;
  transition: all 0.3s ease;
}
.mosaic__square:nth-child(1n + 0) {
  background-color: #ffbe0b;
}
.mosaic__square:nth-child(2n + 1) {
  background-color: #fb5607;
}
.mosaic__square:nth-child(3n + 0) {
  background-color: #ff006e;
}
.mosaic__square:nth-child(4n + 0) {
  background-color: #8338ec;
}
.mosaic__square:nth-child(5n + 0) {
  background-color: #3a86ff;
}
.mosaic__square:nth-child(15) {
  background-color: #3a86ff;
}

.button:hover .mosaic__square {
  width: 4%;
  height: 26%;
}

.button:active .mosaic__square:nth-child(3n + 0) {
  width: 10%;
}

.button__three {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 80px;
  text-decoration: none;
  overflow: hidden;
  background-color: #ffbe0b;
}

.button__three .mosaic__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button__three .mosaic__text:hover {
  font-size: 4rem;
}

.button__three .mosaic__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button__three .mosaic__square {
  width: 5%;
  height: 30%;
  transition: all 0.3s ease;
}
.button__three .mosaic__square:nth-child(1n + 0) {
  background-color: #ffbe0b;
}
.button__three .mosaic__square:nth-child(2n + 1) {
  background-color: #fb5607;
}
.button__three .mosaic__square:nth-child(3n + 0) {
  background-color: #ff006e;
}

.button__three:hover .mosaic__square {
  width: 4%;
  height: 26%;
}
.button__three:active .mosaic__square:nth-child(3n + 0) {
  width: 10%;
}
.button__egypt {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 80px;
  text-decoration: none;
  overflow: hidden;
  background-color: #ffbe0b;
}

.button__egypt .mosaic__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: rgb(65, 70, 65);
  font-weight: bold;
  transition: all 0.3s ease;
}

.button__egypt .mosaic__text:hover {
  font-size: 4rem;
}

.button__egypt .mosaic__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button__egypt .mosaic__square {
  width: 5%;
  height: 30%;
  transition: all 0.3s ease;
}
.button__egypt .mosaic__square:nth-child(1n + 0) {
  background-color: #ffbe0b;
}
.button__egypt .mosaic__square:nth-child(2n + 1) {
  background-color: #fbe307;
}
.button__egypt .mosaic__square:nth-child(3n + 0) {
  background-color: #ffff66;
}

.button__egypt:hover .mosaic__square {
  width: 2%;
  height: 10%;
}
.button__egypt:hover .mosaic__square:nth-child(9) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(58) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(59) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(60) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(107) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(108) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(109) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(110) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(111) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(156) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(162) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(205) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(213) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(254) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(264) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(303) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(315) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(352) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(366) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(401) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(417) {
  background-color: white;
}
.button__egypt:hover .mosaic__square:nth-child(468) {
  background-color: white;
}

.button__egypt:active .mosaic__square:nth-child(3n + 0) {
  width: 10%;
}
